# フォルダを除外
# 2018_MindMap/2018年MindMap_Pri/
**/Wikipedia/*
**/wikipedia/*
**/Aozora100/*
jumon/
config_wikipedia.xml
config_wikipedia_all.xml
config_aozora100.xml
config_aozora100.sd.xml
**/限定公開/*
**/非公開/*

# 「.DS_Store」や「._.DS_Store」を除外
#*.DS_Store

# あらゆる階層の「cache」フォルダの中身だけを除外。
# 「cache」フォルダ自体は無視しない。
# 詳しくは下記のリンクを。
#**/cache/*
#!.gitkeep 
